data/df_amenity_2021.csv
data/df_bbox_2017.geojson
data/dallas_shape/tl_2021_48_tract.cpg
data/dallas_shape/tl_2021_48_tract.dbf
data/dallas_shape/tl_2021_48_tract.prj
data/dallas_shape/tl_2021_48_tract.shp
data/dallas_shape/tl_2021_48_tract.shp.ea.iso.xml
data/dallas_shape/tl_2021_48_tract.shp.iso.xml
data/dallas_shape/tl_2021_48_tract.shx
